root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(216, 216, 216, 0.2);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
th {
  vertical-align: top;
}
